html, body {
    height: 100%;
}


.mainBody {

    padding-bottom: 20px;
}

#container {
    padding-top: 20px;
}

.aLittleMarginBottom {
    margin-bottom: 1rem;
}

.testClass {
    max-width: 100%;
    height: auto;
}

.sketchControlDiv {
    /* Things will surely come */
}

.sketchControl {
    margin: 0 0.5rem 0 0;
}
